.footer {
    position: relative;
    width: 100%;
    color: var(--light-text-color);
    height: var(--footer-height);
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .footer__infoList {
    height: var(--footer-height);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-top);
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0 60px;
  }
  
  .footer__infoItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  
  .footer__infoItem_email {
    justify-self: start;
    text-align: left;
  }
  
  .footer__infoItem_socialMedia {
    justify-self: center;
    text-align: center;
  }
  
  .footer__infoItem_phone {
    justify-self: end;
    text-align: right;
  }
  
  .footer__infoLabel {
    font-size: 14px;
    color: var(--light-text-transparent);
  }
  
  .footer__infoLink {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    transition: color var(--transition-fast);
  }

  .footer__infoLink:hover {
    transition: transform var(--transition-normal), color var(--transition-normal);
    transform: scale(1.1);
    color: #fff;
  }
  
  .footer__socialLinks {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .footer__socialLinks a {
    color: currentColor;
    display: flex;
  }
  
  .footer__socialLinks svg {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentColor;
    transition: all var(--transition-fast);
  }
  
  .footer__socialLinks svg:hover {
    fill: #fff;
    transform: scale(1.1);
  }
  
  .footer__copyright {
    padding-top:10px;
    text-align: center;
    background-color: var(--primary-color);
  }
  
  .footer__copyrightText {
    margin: 0;
    color: var(--light-text-muted);
    font-size: 14px;
  }
  
  /* Мобильные стили */
  @media (max-width: 768px) {
    .footer__infoList {
      height: var(--header-height-mobile);
      padding: 0 10px;

      gap: 10px;
      padding: 0 20px;
    }
  
    .footer__infoItem {
      gap: 5px;
      padding: 5px 0;
      align-items: center;
    }
  
    .footer__infoItem_email,
    .footer__infoItem_socialMedia,
    .footer__infoItem_phone {
      justify-self: center;
      text-align: center;
    }
  
    .footer__infoLabel {
      font-size: 10px;
    }
    
    .footer__infoLink {
      font-size: 10px;
    }
    
    .footer__socialLinks {
      gap: 15px;
    }
    
    .footer__socialLinks svg {
      width: var(--icon-size-mobile);
      height: var(--icon-size-mobile);
    }
  
    .footer__copyright {
      padding-bottom: 10px;
    }
    
    .footer__copyrightText {
      font-size: 10px;
    }
  }