.nav-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-normal);
    flex-shrink: 0;
    margin: 0 5px;
}

.nav-btn:hover {
    background-color: #6b715c;
    transform: translateY(-50%) scale(1.1); /* Сохраняем translateY при наведении */
}

.nav-btn:active {
    transform: translateY(-50%) scale(0.95); /* Сохраняем translateY при наведении */
}

.nav-btn svg {
    width: var(--icon-size-small);
    height: var(--icon-size-small);
}

.nav-btn-prev,
.nav-btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1); /* Добавляем scale(1) по умолчанию */
    z-index: 2;
    background: var(--primary-color);
    margin: 0;
}

.nav-btn-prev {
    left: -50px;
}

.nav-btn-next {
    right: -50px;
}

/* Адаптивность для планшетов */
@media (min-width: 768px) and (max-width: 1023px) {
    .nav-btn-prev,
    .nav-btn-next {
        display: none;
    }
}

/* Адаптивность для телефонов */
@media (max-width: 768px) {
    .nav-btn-prev,
    .nav-btn-next {
        display: none;
    }
}