@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/CormorantGaramond-Light.woff2') format('woff2'),
       url('/fonts/CormorantGaramond-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/CormorantGaramond-LightItalic.woff2') format('woff2'),
       url('/fonts/CormorantGaramond-LightItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/CormorantGaramond-Light.woff2') format('woff2'),
       url('/fonts/CormorantGaramond-Light.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}