@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/CormorantGaramond-VariableFont_wght.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/CormorantGaramond-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}