.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* touch-action: none; Отключаем все стандартные touch-действия */
  will-change: opacity;
}

.modalOverlay.closing {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modalContent {
  position: relative;
  background-color: transparent;
  border-radius: 12px;
  max-width: 90%;
  max-height: 100dvh;
  width: auto;
  height: auto;
  will-change: transform;
  margin: auto;
}

.closeButton {
  position: absolute;
  top: 1vw;
  right: 4vw;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s ease;
}

.imageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: none;
}

.imageContainer > *,
.modalImage {
  max-width: 100%;
  max-height: 100dvh;
  object-fit: contain;
  transition: opacity 0.3s ease;
  touch-action: none;
}

.navButton {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  width: 80px;
  height: 80px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001; /* Выше чем overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.navButton svg {
  height: 70%;
  width: 70%;
}

.navButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.prevButton {
  left: 4vw;
}

.nextButton {
  right: 4vw;
}

/* Добавить в Modal.module.css */
.slideLeft {
  animation: slideLeft 0.3s ease-out;
}

.slideRight {
  animation: slideRight 0.3s ease-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .modalContent {
    max-width: 100vw;
  }
  
  .imageContainer {
    max-height: 100%;
  }
  
  .navButton {
    display: none;
  }

  .closeButton {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navButton {
    display: none;
  }

  .closeButton {
    display: none;
  }
}


@media (min-width: 1024px) {

  .closeButton:hover {
    transform: scale(1.1);
  }

  .navButton:active {
    transform: translateY(-50%) scale(0.9);
  }
}