/* Основные стили для секции галереи */
.gallery-section {
    margin: 0;
    -webkit-overflow-scrolling: touch; /* Плавная прокрутка на iOS */
}

/* Контейнер для центрирования содержимого */
.container {
    width: 100%;
    margin: 0 auto;
}

/* Обертка для галереи с кнопками навигации */
.gallery-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Контейнер для слайдера с горизонтальной прокруткой */
.gallery-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;    
    overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
    flex-grow: 1;
}

/* Заголовок галереи */
.galleryTitle {
    padding-left: 20px;
}

/* Обертка для изображения */
.imageWrapper {
    position: relative;
    height: 100%;
}

/* Стили для сетки */
.gridList {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: 20px;
    margin-top: 30px;
}
  
/* Элемент сетки */
.gridItem {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1 / 1; /* Квадратное соотношение */
    transition: transform 0.3s ease;
    cursor: pointer;
}
  
/* Изображение в сетке */
.gridImage {
    object-fit: cover;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
}

/* Embla стили */
.embla {
    overflow: hidden;
    width: 100%;
}
.embla__container {
    display: flex;
  }

.embla__slide {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

/* Адаптивность для планшетов */
@media (min-width: 768px) and (max-width: 1023px) {

    .galleryTitle {
        padding-left: 20px;
    }

    .gridList {
        --grid-columns: 2; /* Две колонки на планшетах */
    }
}

/* Адаптивность для телефонов */
@media (max-width: 768px) {
    
    .embla__slide { flex: 0 0 100%; } /* 1 на мобиле */
  
    /* Скрываем кнопки навигации в галерее */
    .navButton {
      display: none !important;
    }
  
    .gallery-wrapper {
      padding: 0;
    }
  
    .gallery-container {
      margin: 0;
    }
}

/* Hover эффекты только для десктопа */
@media (min-width: 1024px) {

    .gridItem:hover {
        transform: scale(1.03); /* Меньшее увеличение для сетки */
    }
}