/* Стили для галереи */
.gallery-section {
    margin: 0;
    padding: 0 60px 60px;
    -webkit-overflow-scrolling: touch;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.gallery-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.gallery-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;    
    overflow-x: hidden;
    flex-grow: 1;
}

.gallery-base {
    display: flex;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
    scrollbar-width: none;
    min-width: 100%;
    box-sizing: border-box;
    gap: 2%;
}

.gallery-base::-webkit-scrollbar,
.gallery-container::-webkit-scrollbar {
    display: none;
}

.gallery-item {
    flex: 0 0 calc(100% / var(--visible-items) - (var(--visible-items) - 1) * 2% / var(--visible-items));
    position: relative;
    scroll-snap-align: start;
    transition: transform var(--transition-normal);
    border-radius: 8px;
    overflow: hidden;
    isolation: isolate;
    transform: translateZ(0);
    cursor: pointer;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item > div {
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-normal);
}

.gallery-item h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    margin: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: var(--light-text-color);
    font-size: 1.2rem;
}

.galleryTitle {
    padding-left: 20px;
}

/* .modalImage {
    max-width: 100%;
    max-height: 80svh;
    object-fit: contain;
} */

.imageWrapper {
    position: relative;
    height: 100%;
}

/* Стили для сетки */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: 20px;
    margin-top: 30px;
  }
  
  .gridItem {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .gridItem:hover {
    transform: scale(1.03);
  }
  
  .gridImage {
    object-fit: cover;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
  }
  
  .gridItem h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    margin: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: var(--light-text-color);
    font-size: 1rem;
  }

  .modalGalleryContainer {
    display: flex;
    height: 100%;
    will-change: transform;
  }

  .modalImageWrapper {
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

/* Адаптивность для планшетов */
@media (min-width: 768px) and (max-width: 1023px) {
    .galleryTitle {
        padding-left: 20px;
    }

    .gridContainer {
        --grid-columns: 2;
    }
}

/* Адаптивность для телефонов */
@media (max-width: 768px) {
    .gallery-section {
        padding: 0 20px 20px;
    }

    .gallery-item {
        flex: 0 0 100%;
    }

    .gridItem h3 {
        display: none;
    }

    .galleryTitle {
        padding-left: 0;
        text-align: center;
    }

    .gridContainer {
        --grid-columns: 1;
    }
}