/* Стили для галереи */
.gallery-section {
    margin: 0;
    padding: 0 60px 60px;
    -webkit-overflow-scrolling: touch;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.gallery-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.gallery-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;    
    overflow-x: hidden;
    flex-grow: 1;
}

.gallery-base {
    display: flex;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
    scrollbar-width: none;
    min-width: 100%;
    box-sizing: border-box;
    gap: 2%;
}

.gallery-base::-webkit-scrollbar,
.gallery-container::-webkit-scrollbar {
    display: none;
}

.gallery-item {
    flex: 0 0 calc(100% / var(--visible-items) - (var(--visible-items) - 1) * 2% / var(--visible-items));
    position: relative;
    scroll-snap-align: start;
    transition: transform var(--transition-normal);
    border-radius: 8px;
    overflow: hidden;
    isolation: isolate;
    transform: translateZ(0);
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item > div {
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-normal);
}

.gallery-item:hover img {
    cursor: pointer;
}

.gallery-item h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    margin: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: var(--light-text-color);
    font-size: 1.2rem;
}

.galleryTitle {
    padding-left: 20px;
}

.modalImage {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.imageWrapper {
    position: relative;
}
/* Адаптивность для планшетов */
@media (min-width: 768px) and (max-width: 1023px) {
    .galleryTitle {
        padding-left: 20px;
    }

}

/* Адаптивность для телефонов */
@media (max-width: 768px) {
    .gallery-section {
        padding: 0 20px 20px;
    }

    .gallery-item {
        flex: 0 0 100%;
    }

    .galleryTitle {
        padding-left: 0;
        text-align: center;
    }
}