/* Шапка */
.header {
  width: 100%;
  background-color: var(--primary-color);
  height: var(--header-height);
  position: fixed;
  z-index: 1000;
}

.header__content {
  margin: 0 auto;
  padding: 10px var(--padding-horizontal);
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header__nav {
  width: 100%;
  height: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.header__menuItem {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.header__menuItemLogo {
  flex: 1;
  justify-content: center;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--light-text-color);
  height: 100%;
}

.header__logoText {
  display: block;
  font-size: 0.9rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 500;
  white-space: nowrap;
  color: var(--light-text-color);
}

.header__logoText br {
  display: block;
  content: "";
  margin-top: 0.2em;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__phone {
  color: var(--light-text-color);
  text-decoration: none;
  font-weight: 500;
  transition: all var(--transition-normal);
}

.header__phone:hover {
  color: #fff;
  transform: scale(1.1);
}

.header__ctaBtn {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid;
  font-weight: 400;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: all var(--transition-normal);
}

.header__ctaBtn:hover {
  color: #fff;
  transform: scale(1.1);
}

/* Стили для кнопки меню */
.menuButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--light-text-color);
  transition: all var(--transition-normal);
}

.menuButton:hover {
  color: #fff;
  transform: scale(1.1);
}

.menuButton svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

/* Телефон */
@media (max-width: 768px) {
  .header {
    height: var(--header-height-mobile);
    max-width: 100vw;
  }
  
  .header__logoText {
    display: none;
  }

  .header__logoText br {
    display: none;
  }
  
  .header__phone {
    font-weight: 400;
    font-size: 12px;
    margin-right: var(--gap-large-mobile);
  }

  .header__content {
    padding: 0 10px;
  }
  
  .header__contacts {
    justify-content: flex-end;
    gap: 0;
  }

  .header__ctaBtn {
    width: 100px;
    font-size: 10px;
    padding: 0 2px;
  }
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1023px) {
  .header__content {
    padding: 10px 30px;
  }
  
  .header__ctaBtn {
    width: 120px;
  }
}